<div tabIndex="1" (keyup.arrowleft)="prev()" (keyup.arrowright)="next()"
     class="carousel" (mouseover)="mouseState(true)" (mouseout)="mouseState(false)">
  <div class="navigation">

    <div class="arrows">
      <i class="fas fa-angle-left prev" (click)="prev()"></i>
      <i class="fas fa-angle-right next" (click)="next()"></i>
    </div>

    <div class="navigation_bar">
      <!--<i *ngFor="let img of images" (click)="changeImage(getIndex(img))" [class.active]="getIndex(img) === curImage"></i>-->
    </div>

  </div>

  <div class="images" *ngFor="let img of images; let i = index">
    <img [@fade]="'in'" [src]="img" *ngIf="i === curImage" alt="">
  </div>

</div>
