@import "~@fortawesome/fontawesome-free/css/all.css";

.carousel {
  display: block;
  position: relative;

  .images {
    img {
      width: 100%;
      min-height: 300px;
      z-index: -1;
    }
  }

  .navigation {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    max-height: inherit;
    z-index: 1;

    .arrows {
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      height: 100%;

      i {
        display: flex;
        align-items: center;
        padding: 0 10%;
        height: 100%;
        color: rgba(255, 255, 255, 0.7);
        font-size: 50px;
        cursor: pointer;
      }

      .next:hover {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
      }

      .prev:hover {
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
      }
    }

    .navigation_bar {
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-self: flex-end;
      padding-bottom: 30px;
      width: 100%;

      i {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 25px;
        width: 25px;
        background-color: darkgray;
        border-radius: 50%;
        cursor: pointer;
        margin: 3px;
      }

      .active {
        background-color: bisque;
      }
    }

  }
}

.container {
  background-color: black;
  height: 100px;
}
